body{  margin: 0;
  background-color: 30E3CA;
  /* #F9F3DF */
  text-align: center;
  font-family: 'Merriweather', serif;
font-size: 100%;
  color:#40514E;
}
span{text-decoration: underline;}
a{
  color:#11999E;
  text-decoration: none;
  /* position: relative;
  margin: 30px 30px 30px 30px; */
margin-top: 30px;
margin-left: 30px;
}
.bottomm{

background-color: #A9E4D7;
padding: 30px 0 20px;
height: 100px;

}
a:hover{
  color: white;

}
p{
line-height: 2;
  /* margin-top: 30px;s */
  margin-bottom: 60px;
}
hr{
  background-color: white;
  height:   1px;
  border-style: dotted none none;
  border-color: #6B7AA1;
  border-width: 5px;
  width: 8%;
}
h1
{
  color:#66BFBF;
font-family: 'Sacramento', cursive;
font-size: 5.625rem;
margin:10px auto 0 auto;
line-height: 2;
padding-top: 100px;
}
h2{
  color:#11999E;
  font-size: 40px;
  margin:100px auto 0 auto;
}
.copyright{
  color: white;
  padding: 50px 0 20px 0;

}
.weight{
  font-size: 2.5rem;
  color:#66BFBF;
  font-weight:   normal;
}
h3{
  color:#11999E;
}
.middle{
  margin-top: 60px;
}

.top{
    background-color:#EAF6F6;
position: relative;
padding-top: 10px;
}
.imgskill{
 width: 20%;
  /*height: 180px; */
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}
.cpp
{
width: 25%;
  float: right;
  margin-left: 30px;
}
.top-cloud{
  position: absolute;
  top:100px;
right: 250px;
}
.bottom-cloud{
  position: absolute;
  left:200px;
}
.skill-row{
margin: 100px auto 100px auto;
width: 50%;
text-align: left;
line-height: 2;
}

.bottom{
  background-color: #A9E4D7;
}
.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999A);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999A);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999A);
   background-image: -o-linear-gradient(top, #11CDD4, #11999A);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999A);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 15px;
   font-weight: 100;
   padding: 18px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 40px;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
